body {
	background-color: black;
}

/*This is for the front path and should not be use anyway else*/
h1 {
	color: #1ca9c9;
	background-color: lightblue;
	text-align: center;
	font-family: "Helvetica", "sans-serif";
	font-size: 50px;
	border-radius:75% 25%;
	margin: auto;
	width: 450px;
}

h2 {
	color: dark green;
	font-family: "Helvetica", "sans-serif";
	font-weight: bold;
}


p1 {
	color: #1ca9c9;
	font-size: 15px;
	font-family: "Helvetica", "sans-serif";
	font-weight: bold;
	margin: auto;
	padding: 15%;
	text-align: center;
}

.topBorder {
	outline-color: black;
	outline-width: 3px;
	outline-style: solid;
	background-color: #1ca9c9;
	padding: auto;
	margin: auto;
}

.topMenu {
	color: #1ca9c9;
	background-color:lightblue;
	width: 125px;
	padding: auto;
	border: auto;
	border-color: lightblue solid;
	margin: auto;	
}

.row {
	content: "";
	clear: both;
}

.column {
	float: left;
	width: auto;
}
